{% extends "base_site.html" %}

{% block title %} IT Overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}


<div class="card-columns">

    <div class="card" >
        
      <img class="card-img-top" src="{{ url_for('static', filename='images/cards/sourcecode.png') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Most popular programming languages </h5>
        <p class="card-text">Do you know how the most popular programming languages have changed in the past years?</p>
        <a href="{{ url_for( 'it_blueprint.app7_template') }}" class="stretched-link"></a>
      </div>
    </div>

    <div class="card" >
        
      <img class="card-img-top" src="{{ url_for('static', filename='images/cards/hello_world.png') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Most Used Characters in "Hello, World" Programs </h5>
        <p class="card-text">Do you know what the most used character in "Hello World Programs" is?</p>
        <a href="{{ url_for( 'it_blueprint.app15_template') }}" class="stretched-link"></a>
      </div>
    </div>

    <div class="card" >
        
      <img class="card-img-top" src="{{ url_for('static', filename='images/cards/more_code.png') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Length of "Hello, World" Programs </h5>
        <p class="card-text">How long are "Hello, World" programs in various programming languages?</p>
        <a href="{{ url_for( 'it_blueprint.app16_template') }}" class="stretched-link"></a>
      </div>
    </div>

  </div>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}