{% extends "base_site.html" %}

{% block title %} About me {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<article class="content-section">
    <div class="row">
        <div class="col">   
            <p class='text-muted mb-0'>Mathematician</p>
            <legend class="border-bottom mb-4">Daniel Schneider, Ph.D.</legend>
            Welcome to my data blog which is called Black & White Data. I am Daniel and I like to share insights into data. Below you find some info on myself and this blog.
            <br>
            <br>
        </div>     
    </div>
    <br>
    <h3>What I do?</h3>
    <br>
    <div class="card-columns">


      <div class="card" >    
        <img class="card-img-top" src="{{ url_for('static', filename='images/headers/stocks.png') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Investing</h5>
          <p class="card-text">Besides my interest in data I am also into stocks and data all about investing. Partially, you will also find some visualizations on my blog that are related to the finance sector.</p>
        </div>
      </div>

      <div class="card" >    
        <img class="card-img-top" src="{{ url_for('static', filename='images/headers/ai.png') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Data Science/AI</h5>
          <p class="card-text">Data Science and AI is a field that has stuned me just recently. During my research, I was always into algorithms and data structures. But the possibilities that arise with artificial intelligence in combination with data is just amazing and has drawn my attention.</p>
        </div>
      </div>

      <div class="card" >    
        <img class="card-img-top" src="{{ url_for('static', filename='images/headers/code.png') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Computer Science</h5>
          <p class="card-text">In my youth, I have already started programming, and coding was at my side since then. After I finished my master's degree in mathematics I decided to go for a Ph.D. in computer science. More precisely, in the field of algorithms and data structures. A few years back, I successfully finished this part of my life and since then, I apply computer science to my daily work.</p>
        </div>
      </div>

      <div class="card" >    
        <img class="card-img-top" src="{{ url_for('static', filename='images/headers/math.png') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mathematics</h5>
          <p class="card-text">Numbers and the math behind them has always been something that got me interested. This is the reason I went for a university degree in math. Math has so many faces and most people, sadly, only get to know math from school which is just a fraction of the world of mathematics. Back during my studies, I had to make a tough decision. The one route was to go for a math degree with the background of computer science and the other route was to go for a financial background. As a was interested in both topics, this was quite a hard decision to take and I, in the end, took computer science. I have never regretted this decision but therefore, investing and finance have remained a passion of mine.</p>
        </div>
      </div>




 
    </div>

    <br>
    <h4 class="text-center" >You want to get in touch?</h4>
    <br>
    <h4 class="text-center" ><a href="{{ url_for( 'contact_blueprint.index') }}" class="btn btn-primary" role="button" aria-pressed="true"><i class="fas fa-envelope"></i>&nbsp; Contact Me</a> </h4>
    <br>
     
   
   
    
      
</article>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}

