{% extends "base_site.html" %}

{% block title %} About me {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<article class="content-section">
    <div class="row">
        <div class="col">   
            <p class='text-muted mb-0'>Mathematician</p>
            <legend class="border-bottom mb-4">Daniel Schneider, Ph.D.</legend>
            Welcome to my data blog which is called Black & White Data. I am Daniel and I like to share insights into data. Below you find some info on myself and this blog.
            <br>
            <br>
        </div>
        <!-- <div class="col-lg">
            <img class="img img-fluid float-right" src="{{ url_for('static', filename='resources/private/me.jpg') }}">
        </div> -->
        
    </div>
    <br>
    
    
     
   
   
    <div class="container">
        <!-- <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p>If you invested in a very low cost index fund — where you don’t put the money in at one time, but average in over 10 years — you’ll do better than 90% of people who start investing at the same time.</p>
          <footer>—Warren Buffet, <cite>Berkshire Hathaway Annual Meeting (2004)</cite></footer>
        </blockquote> -->
        <br>
        <br>
        <h3>What I do?</h3>
        <br>
        <br>
        <div class="row">
          <div class="col">
            <img class="img img-fluid" src="{{ url_for('static', filename='images/headers/stocks.jpg') }}">
            <br>
            <br>
            <h4>Investing</h4>
            Besides my interest in data I am also into stocks and data all about investing. Partially, you will also find some visualizations on my blog that are related to the finance sector.
            <br>
            <br>
          </div>
          <div class="col">
            <img class="img img-fluid" src="{{ url_for('static', filename='images/headers/ai.jpg') }}">
            <br>
            <br>
            <h4>Data Science/AI</h4>
            Data Science and AI is a field that has stunned me just recently. During my research, I was always into algorithms and data structures. But the possibilities that arise with artificial intelligence in combination with data is just amazing.
            <br>
            <br>
          </div>
          <div class="w-100">

        </div>
          <div class="col">
            <img class="img img-fluid" src="{{ url_for('static', filename='images/headers/code.jpg') }}">
            <br>
            <br>
            <h4>Computer Science</h4>
            In my youth, I have already started programming, and coding was at my side since then. After I finished my master's degree in mathematics I decided to go for a Ph.D. in computer science. More precisely, in the field of algorithms and data structures. A few years back I successfully finished this part of my life and since then, I apply computer science to my daily work. But the skills I have learned I am also applying to my private investing and this is the rise of this blog. 
            <br>
            <br>
          </div>
          <div class="col">
            <img class="img img-fluid" src="{{ url_for('static', filename='images/headers/math.jpg') }}">
            <br>
            <br>
            <h4>Mathematics</h4>
            Numbers and the math behind them has always been something that got me interested. This is the reason I went for a university degree in math. Math has so many faces and most people, sadly, only get to know math from school which is just a fraction of the world of mathematics. Math can, especially in terms of investing, support you and it becomes really interesting when digging deeper. Back during my studies, I had to make a tough decision. The one route was to go for a math degree with the background of computer science and the other route was to go for a financial background. As a was interested in both topics, this was quite a hard decision to take and I, in the end, took computer science. I have never regretted this decision but therefore, investing and finance have remained my private pleasure.
            <br>
            <br>
          </div>
        </div>
      </div>
      <br>
      <br>
      <h4 class="text-center" >You want to get in touch?&nbsp;&nbsp; <a href="{{ url_for( 'contact_blueprint.index') }}" class="btn btn-primary active" role="button" aria-pressed="true"><i class="fas fa-envelope"></i>&nbsp; Contact Me</a> </h4>

</article>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}

