{% extends "base_site.html" %}

{% block title %} Math Overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}


<div class="card-columns">

    <div class="card" >   
      <img class="card-img-top" src="{{ url_for('static', filename='images/cards/virus.png') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Math </h5>
        <p class="card-text">age adg adg ag atg aeg asg ag aeg qae asg aetg aeg aeg aeg aeg .</p>
        <a href="{{ url_for( 'math_blueprint.app4_template') }}" class="stretched-link"></a>
      </div>
    </div>
    
  </div>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}