<div class="jumbotron">
  <h2 class="display-5">Portfolio Correlation Tool</h2>
  <p class="lead"> This tool analyses your portfolio and computes the correlation of your assets. With this tool, you can identify similar investments to reduce the complexity of your portfolio. Alternatively, you can introduce new investments that reduce your overall correlation to your benchmark.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="{{ url_for( 'DashExample_blueprint.app2_template') }}" role="button">Launch <i class="fas fa-wrench"></i></a>
</div>