{% extends "base_site.html" %}

{% block title %} Crypto Overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}


<div class="card-columns">

    <div class="card" > 
      <img class="card-img-top" src="{{ url_for('static', filename='images/cards/bitcoin.png') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Top 20 Cryptocurrencies </h5>
        <p class="card-text">Do you still remember the Top 20 Cryptocurrencies from the last few years? </p>
        <a href="{{ url_for( 'crypto_blueprint.app5_template') }}" class="stretched-link"></a>
      </div>
    </div>

  </div>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}