{% extends "base_site.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <h1>{{ _fsdomain('Login') }}</h1>
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    {{ login_user_form.hidden_tag() }}
    {{ render_field_with_errors(login_user_form.email, class='form-control', placeholder='Enter your E-Mail') }}
    {{ render_field_with_errors(login_user_form.password, class='form-control', placeholder='Enter your password') }}
    {{ render_field_with_errors(login_user_form.remember) }}
    {{ render_field_errors(login_user_form.csrf_token) }}
    
    <div class="form-group">
       {{ render_field(login_user_form.submit, class="btn btn-outline-info") }}
    </div>
    </form>
    {% include "security/_menu.html" %}
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}