<div id="wrap">
  <div id="main" class="container clear-top">
    <span class="text-muted">© 2021-{{current_year}} Copyright
      <a href="{{ url_for( 'base_blueprint.route_default') }}"> blackandwhitedata.com</a> | <a href="{{ url_for( 'base_blueprint.terms') }}">Terms &amp; Conditions </a> | <a href="{{ url_for( 'base_blueprint.privacy') }}">Privacy Policy </a>  | <a href="{{ url_for( 'base_blueprint.legal') }}">Impressum – Legal Notice </a>
    </span>
  </div>
</div>
<footer class="footer"></footer>