<div class="sidebar-header">

  <div class="container">
    <div class="row align-items-center">
          <h5>Black & White  <br/> <b> Data</b></h5>     
    </div>

    <div class="row">
        <img src="/static/images/img.png" class="img-fluid" alt="Responsive image">       
    </div>
  </div>

</div>

<ul class="list-group">
  
  <li><a href="{{ url_for( 'home_blueprint.index') }}"><i class="fa fa-home"></i> Home <span></span></a></li>

  <li><a href="{{ url_for( 'world_blueprint.world_card_template') }}"><i class="fa fa-globe"></i> World <span></span></a></li>

  <li><a href="{{ url_for( 'entertain_blueprint.entertain_card_template') }}"><i class="fas fa-film"></i> Entertainment <span></span></a></li>

  <li><a href="{{ url_for( 'math_blueprint.math_card_template') }}"><i class="fa fa-infinity"></i> Math <span></span></a></li>

  <li><a href="{{ url_for( 'it_blueprint.it_card_template') }}"><i class="fa fa-desktop"></i> IT <span></span></a></li>

  <li><a href="{{ url_for( 'crypto_blueprint.crypto_card_template') }}"><i class="fa fa-coins"></i> Crypto <span></span></a></li>

  {% if current_user.is_authenticated %}
    {% if current_user.has_role('admin') %}
      <li><a href="{{ url_for( 'finance_blueprint.finance_card_template') }}"><i class="fa fa-chart-bar"></i> Finance  <span></span></a></li>
    {% endif %}
  {% endif %}
  
  {% if current_user.is_authenticated %}
  <li>
      <a href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-cogs"></i> Settings </a>
      <ul class="collapse list-unstyled" id="settingsSubmenu">
        <li><a href=" {{ url_for_security('change_password') }} ">Change Password</a></li>
        {% if current_user.has_role('admin') %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
      </ul>
  </li>
  {% endif %}

  <li><a href="{{ url_for( 'contact_blueprint.index') }}"><i class="fa fa-envelope"></i> Contact <span></span></a></li>

  <li><a href="{{ url_for( 'base_blueprint.about') }}"><i class="fa fa-info-circle"></i> About <span></span></a></li>

</ul>