<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
      </button> -->

      <div class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
        <button class="dropdown-item"  type="button"><a href="{{ url_for_security('logout') }}">Logout</a></button>
        {% else %}
        <button class="dropdown-item" type="button"><a href="{{ url_for_security('register') }}">Register</a></button>
        <button class="dropdown-item" type="button"><a href="{{ url_for_security('login') }}">Login</a></button>
        {% endif %}
      </div>
  </div>
</nav>