{% extends "base_site.html" %}

{% block title %} Entertainment Overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}


<div class="card-columns">

    <div class="card" >
        
      <img class="card-img-top" src="{{ url_for('static', filename='images/cards/pistol.png') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Violence in James Bond Movies</h5>
        <p class="card-text">Did James Bond movies have become more violent over time?</p>
        <a href="{{ url_for( 'entertain_blueprint.app6_template') }}" class="stretched-link"></a>
      </div>
    </div>

    <div class="card" >
        
      <img class="card-img-top" src="{{ url_for('static', filename='images/cards/disney.png') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gross Return of Disney Movies</h5>
        <p class="card-text">What are the Disney movies with the highest return?</p>
        <a href="{{ url_for( 'entertain_blueprint.app17_template') }}" class="stretched-link"></a>
      </div>
    </div>
    
</div>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}